* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 16px;
  }

:root {
    --orange1:#f49030;
    --orange2:#ef863d;
    --warmblak: #3c3f4c;
    --hardblack: #35364a;
    --white: #f3f0ee
}

.main-header {
    width: 100%;
    height: 80px;
    background-color:  var(--orange1);
    display: flex;
}

/* HEADER IZQUIERDA */
.info-header{
    width: 70%;
    height: 80px;
    background-color: var(--orange2);
    display:flex;
}

.logo-lani{
    width: 22%;
    height: 80px;
    margin: 0px 20px;
    display: flex;
    align-items: center;
}
.logo-lani img{
    width: 70px;
    height: 70px;
    margin: 0px 7px;
}
.logo-lani h1{
   color: var(--white);
   font-size: 2rem;
   font-weight: bold;
}
.find-more{
    display:flex;
    padding: 5px;
    width: 70%;
    height: 80px;
    align-items: center;
    justify-content: space-between;
}

.find-more p{
    display: inline-block;
    cursor: pointer;
}
.find-more p img{
    width: 10px;
    height: 10px;
}


/* HEADER DERECHO */

